
.white-box {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0.5px 0.5px 2px 1px #eee;
}

.left-border {
    border-left: 2px solid #eee;
}

.container {
    margin-top: 30px;
}

.middle-text-box h3{
    font-size: 20px;
    margin-bottom: 20px
}

.middle-text-box p{
    font-size: 13px;
    margin: auto;
}



.bottom-text-box {
    height: 60px;
    border-bottom: 2px solid lightgray;
}

.pill {
    display: inline-block;
    border: 1px solid lightgray;
    border-radius: 100px;
    padding: 3px 12px 5px 12px;
    margin-right: 2px;
    margin-bottom: 5px;
    font-size: 10px;
}

.middle-text-box {
    height: 300px;
}






